[submodule "vim/bundle/vimproc.vim"]
	path = vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vim/bundle/ghcmod-vim"]
	path = vim/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "vim/bundle/neocomplcache"]
	path = vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "vim/bundle/neco-ghc"]
	path = vim/bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/haskellmode"]
	path = vim/bundle/haskellmode
	url = https://github.com/lukerandall/haskellmode-vim.git
[submodule "vim/bundle/vim-javascript"]
    path = vim/bundle/vim-javascript
    url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-trailing-whitespace"]
	path = vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "vim/bundle/paredit.vim"]
	path = vim/bundle/paredit.vim
	url = https://github.com/vim-scripts/paredit.vim.git
[submodule "vim/bundle/rainbow_parentheses"]
	path = vim/bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "vim/bundle/vim-tomorrow-theme"]
	path = vim/bundle/vim-tomorrow-theme
	url = git@github.com:chriskempson/vim-tomorrow-theme.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/bundle/editorconfig-vim"]
	path = vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/bundle/vim-clojure-highlight"]
	path = vim/bundle/vim-clojure-highlight
	url = git@github.com:guns/vim-clojure-highlight.git
[submodule "vim/bundle/vim-qargs"]
	path = vim/bundle/vim-qargs
	url = git@github.com:nelstrom/vim-qargs.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/gruvbox"]
  path = vim/bundle/gruvbox
  url = git@github.com:morhetz/gruvbox.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = git@github.com:wting/rust.vim.git
[submodule "vim/bundle/elixir"]
  path = vim/bundle/vim-elixir
  url = git@github.com:elixir-lang/vim-elixir.git
[submodule "vim/bundle/vimerl"]
	path = vim/bundle/vimerl
	url = git@github.com:jimenezrick/vimerl.git
[submodule "vim/bundle/vim-fireplace"]
	path = vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "vim/bundle/vim-leiningen"]
	path = vim/bundle/vim-leiningen
	url = git@github.com:tpope/vim-leiningen.git
[submodule "vim/bundle/vim-projectionist"]
	path = vim/bundle/vim-projectionist
	url = git://github.com/tpope/vim-projectionist.git
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "vim/bundle/vim-typedclojure"]
	path = vim/bundle/vim-typedclojure
	url = git://github.com/typedclojure/vim-typedclojure.git
[submodule "vim/bundle/vim-go2"]
	path = vim/bundle/vim-go2
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/vim-clang"]
	path = vim/bundle/vim-clang
	url = git@github.com:justmao945/vim-clang.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/vim-github-colorscheme"]
	path = vim/bundle/vim-github-colorscheme
	url = git@github.com:endel/vim-github-colorscheme.git
[submodule "vim/bundle/Dockerfile.vim"]
	path = vim/bundle/Dockerfile.vim
	url = git@github.com:ekalinin/Dockerfile.vim.git
[submodule "vim/bundle/purescript-vim"]
	path = vim/bundle/purescript-vim
	url = https://github.com/raichoo/purescript-vim.git
[submodule "vim/bundle/racer"]
	path = vim/bundle/racer
	url = git@github.com:phildawes/racer.git
[submodule "vim/bundle/papercolor-theme"]
	path = vim/bundle/papercolor-theme
	url = git@github.com:NLKNguyen/papercolor-theme.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "vim/bundle/vim-node"]
	path = vim/bundle/vim-node
	url = git@github.com:moll/vim-node.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "vim/bundle/vim-dataflow"]
	path = vim/bundle/vim-dataflow
	url = git@bitbucket.org:owickstrom/vim-dataflow.git
[submodule "vim/bundle/mustache.vim"]
	path = vim/bundle/mustache.vim
	url = git@github.com:juvenn/mustache.vim.git
[submodule "vim/bundle/vim-hoogle"]
	path = vim/bundle/vim-hoogle
	url = git@github.com:Twinside/vim-hoogle.git
