[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vim/bundle/ghcmod-vim"]
	path = vim/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "vim/bundle/neocomplcache"]
	path = vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "vim/bundle/neco-ghc"]
	path = vim/bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/haskellmode"]
	path = vim/bundle/haskellmode
	url = https://github.com/lukerandall/haskellmode-vim.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
